/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #444;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #555;
}

nav a {
    color: white;
    padding: 1rem;
    text-decoration: none;
    margin: 0 0.5rem;
}

nav a:hover {
    background-color: #666;
}

main {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
}

h2 {
    color: #333;
}


/* Estilizando o container */
.container {
    background: white;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container h1 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.container ul {
    list-style-type: none;
}

.container ul li {
    padding: 0.5rem 0;
}

.container ul li a {
    color: #448c1c;
    text-decoration: none;
}

.container ul li a:hover {
    text-decoration: underline;
}

/* Estilizando os módulos */
.module {
    margin-bottom: 2rem;
}

.module h2 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: #21311f;
    background-color: beige;
}

.project {
    margin-bottom: 1.5rem;
}

.project h3 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    color: #685c47;
}

.project p {
    margin-bottom: 1rem;
}

/* Estilizando as atividades */
.container_activity {
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.container_activity h3 {
    margin-bottom: 1rem;
    color: #448c1c;
}

.container_activity ul {
    list-style-type: none;
}

.container_activity ul li {
    padding: 0.5rem 0;
}

.container_activity ul li a {
    color: #21311f;
    text-decoration: none;
}

.container_activity ul li a:hover {
    text-decoration: underline;
}




.codigo {
    width: 60%;
            background-color: #2c3e50;
            /* Cinza Escuro */
            color: #ecf0f1;
            /* Cinza Claro */
            border: 1px solid #34495e;
            /* Cinza um pouco mais claro */
            padding: 15px;
            margin: 20px 0;
            border-radius: 5px;
            overflow-x: auto;
            font-family: 'Courier New', Courier, monospace;
}