
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

main {
    padding: 10px;
    margin-left: 15px;
}

.container {
    padding: 2rem;
}

.module {
    margin-bottom: 2rem;
}

.title-body {
   color:#2c3e50;
   align-items: center;
}

h2 {
    color: #3498db; /* Azul Claro */
    margin-top: 20px;
}

.project {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
}

.container_activity {
    margin-top: 15px;
    padding: 15px;
}

ul {
    margin-top: 10px;
    margin-bottom: 10px;
}

ul li a {
    color: #333;
}

.codigo {
    background-color: #ccc;
}