/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('../imgBody.png');
    background-position: right bottom; 
    background-repeat: no-repeat;
    background-size: 50%; 
}


header {
    background-color: #9f0067;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #ff6003;
}

nav a {
    color: white;
    padding: 1rem;
    text-decoration: none;
    margin: 0 0.5rem;
}

nav a:hover {
    background-color: #e95905b0;
}

main {
    padding: 2rem;
    max-width: 1000px;
    margin: auto;
    position: relative; 
}

.section-info h1 {
    color: #9f0067;
    font-size: 2rem;
}

.section-info {
    padding: 5px;
    margin-bottom: 10px;
}

h2 {
    color: #ff6003;
}

.module-overview {
    background-color: #e4e1e1;
    padding: 10px;
    border-radius: 4px;
}

.module-overview h3 a {
    margin-bottom: 1rem;
    color: #333;
}

.module-overview {
    margin-bottom: 2rem;
}

.module-overview h3 {
    color: #448c1c;
}

.module-overview p {
    margin: 0.5rem 0;
}

.image {
    position: absolute; 
    bottom: 0; 
    right: 0; 
    margin: 10px; 
    margin-right: -30px;
}
