* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: black;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
  margin: 50px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

hr {
  border: none;
  height: 2px;
  background-color: #fff;
  width: 100%;
  margin-top: 25px;
}

h2 {
  margin: 20px;
}

label {
  font-size: 1rem;
  padding: 10px;
}

input[type="text"],
input[type="number"] {
border-radius: 8px;
}

.inputInteresse {
    height: 35px;
}

div .form {
    margin-bottom: 15px;
}

input[type="button"] {
    margin-left: 10px;
    width: 8%;
    height: 50px;
    border-radius: 8px;
    background: blue;
    color: #fff;
    border: none;
}

table {
  width: 100%;
}

th,
td {
  border: 1px solid #fff;
  padding: 20px;
  text-align: left;
}

th {
    text-align: center;
    padding: 5px;
}
